<h1>Hello From aks.html.erb</h1>

<form action="/answer" method="get">
  <div class="mb-3">
    <label  class="form-label">Question : </label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="ask" name="question">
  </div>
  <button type="submit" class="btn btn-primary">Ask</button>
</form>
